@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: "myFirstFont";
    src: url("Fonts/Cocogoose Pro Italic-trial.ttf") format('truetype');
}

@font-face {
    font-family: "karkar";
    src: url("Fonts/Karstar Free.ttf") format('truetype');
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p{
    font-weight: 300;
    color: #fff;
}

.containerobj{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
}

.containerobj .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.containerobj .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .conactInfo .box .icon{
    min-width: none;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.containerobj .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.containerobj .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 200px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}



.logo1 {
    width: 300px;
    height: 150px;
    cursor: pointer;
    background-color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto',sans-serif;
}

body {
    background: url("images/imageseif.jpeg");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    align-items: center;
    place-items: center;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
    background-color: transparent;
}

hr {
    padding: 0px 200px 0px 200px;
    margin: 0px 200px 50px 200px;
    background: linear-gradient(to right,rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 1), rgb(255, 255, 255, 0.2));
    height: 1px;
    border: none;
    width: 500px;
}

.nav_links {
    list-style: none;
    padding-right: 100px;
    background-color: transparent;

}

.nav_links li {
    display: inline-block;
    padding: 0px 40px;
    font-weight: bold;
    background-color: transparent;
    font-family: "Roboto";
}

.nav_links li a {
    transition: all 0.3 ease 0s;
    background-color: transparent;
}

.nav_links li a:hover {
    color: yellow;
}

.footer {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0, 80%);
    padding: 70px 0;
    align-items: center;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    margin: auto;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: yellow;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul,
li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 10px;
    color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

hr {
    margin: 30px 200px;
}

#sociaux {
    margin-right: 450px;
}

.footer-col a:hover {
    color: #ffffff;
}

.footer-col .social-links a i {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.footer-col .social-links a i:hover {
    background-color: white;
    color: gray;
}

.dropbtn {
    border: none;
    border-radius: 0%;
}

.dropbtn:hover {
    background-color: yellow;
    opacity: 0.9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(240, 225, 0, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.3s ease;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
}

.dropdown:hover .dropbtn {
    background-color: yellow;
    opacity: 0.9;
}

.dropdown-arrow {
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: relative;
    bottom: 25px;
    left: 80px;
}

.dropdown:hover .dropdown-arrow {
    top: 35px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #333;
    border-top: 2px solid transparent;
}

.dropbtn1 {
    border: none;
    border-radius: 0%;
}

.dropbtn1:hover {
    background-color: yellow;
    opacity: 0.9;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: rgba(240, 225, 0, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.3s ease;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
    visibility: visible;
    opacity: 1;
}

.dropdown1:hover .dropbtn1 {
    background-color: yellow;
    opacity: 0.9;
}

.dropdown-arrow1 {
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: relative;
    bottom: 25px;
    left: 80px;
    transition: 0.3s ease;
}

.dropdown1:hover .dropdown-arrow1 {
    top: 35px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #333;
    border-top: 2px solid transparent;
}

#privatebutton:hover {
    background-color: rgb(220, 20, 60, 0.8);
}

button {
    background-color: transparent;
    border: solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    transition: 0.3s ease;
}

.emailadd {
    padding: 10px 30px 10px 30px;
    margin: 20px 20px 20px 0px;
}

.emailadd::placeholder {
    padding-left: 5px;
}

.getstarted {
    border-radius: 0%;
    margin-left: 45px;
}

button:hover {
    background-color: rgba(240, 225, 0, 0.8);
}

.problemcategory {
    width: 200px;
    position: relative;
    font-family: Arial, sans-serif;
    padding: auto;
}

@media (max-width:991px)
{
    .contact{
        padding: 50px;
    }
    .containerobj
    {
        flex-direction: column;
    }
    .containerobj .containerInfo
    {
        margin-bottom: 40px;
    }
    .containerobj .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}